<main>
      <article>
  
        <!-- 
          - #Skills
      
        -->

        <section class="section service has-bg-image" aria-labelledby="service-label"
          style="background-image: url('assets/images/service-bg.png');">
          <div class="container" style="margin-top: -100px;margin-bottom: -60px;">
  
            <h2 class="section-title headline-md text-center" id="service-label">My Skills</h2>
  
            <ul class="service-list">
  
              <li class="card-container">

                <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">
  
                  <div class="card-media">
                    <ion-icon name="logo-angular"></ion-icon>
                  </div>

                  <h2 class="card-title">Angular</h2>

                </div>
              </li>
  
              <li class="card-container">
                <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">
  
                  <div class="card-media">
                    <ion-icon name="logo-css3"></ion-icon>
                  </div>

                  <h2 class="card-title">Dot Net / Dot Net Core</h2>

                </div>
              </li>
  
              <li class="card-container">
                <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">
  
                  <div class="card-media">
                    <ion-icon name="logo-react"></ion-icon>
                  </div>

                  <h2 class="card-title">JavaScript / TypeScript</h2>

                </div>
              </li>
  
              <li class="card-container">
                <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">
  
                  <div class="card-media">
                    <ion-icon name="logo-angular"></ion-icon>
                  </div>

                  <h2 class="card-title">SQL</h2>

                </div>
              </li>
  
              <li class="card-container">
                <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">
  
                  <div class="card-media">
                    <ion-icon name="logo-apple"></ion-icon>
                  </div>

                  <h2 class="card-title">AWS</h2>

                </div>
              </li>
  
              <li class="card-container">
                <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">
  
                  <div class="card-media">
                    <ion-icon name="logo-android"></ion-icon>
                  </div>

                  <h2 class="card-title">Jenkins</h2>

                </div>
              </li>
  
            </ul>
  
          </div>
        </section>
  
      </article>
    </main>