<!-- 
    - #HEADER
  -->

  <header class="header" data-header>
      <div class="container">
  
        <a routerLink="/home" class="logo" aria-label="Ayanish Kanudawala home">AK</a>
  
        <nav class="navbar" id="primary-navigation" data-navbar [ngClass]="status ? 'active' : ''">
          <ul class="navbar-list">
  
            <li class="navbar-item">
              <a routerLink="/home" class="label-lg navbar-link has-after" routerLinkActive="active">Home</a>
            </li>
  
            <li class="navbar-item">
              <a routerLink="/about" (click)="status = false" class="label-lg navbar-link has-after" routerLinkActive="active">About</a>
            </li>

            <li class="navbar-item">
              <a routerLink="/experience" (click)="status = false" class="label-lg navbar-link has-after" routerLinkActive="active">Experience</a>
            </li>

            <li class="navbar-item">
              <a routerLink="/portfolio" class="label-lg navbar-link has-after" routerLinkActive="active">Projects</a>
            </li>

            <li class="navbar-item">
              <a routerLink="/skills" class="label-lg navbar-link has-after" routerLinkActive="active">Skills</a>
            </li>

            <li class="navbar-item">
              <a routerLink="/certifications" (click)="status = false" class="label-lg navbar-link has-after" routerLinkActive="active">Certifications</a>
            </li>
  
            <li class="navbar-item">
              <a routerLink="/contact"  class="label-lg navbar-link has-after" routerLinkActive="active">Contact</a>
            </li>
  
          </ul>
        </nav>
  
        <a routerLink="/contact" class="btn btn-primary">Contact Now</a>
  
        <button class="nav-toggle-btn" aria-label="Toggle navigation" [attr.aria-expanded]="status" aria-controls="primary-navigation" data-nav-toggler (click)="addToggle()">
          <app-icon name="menu" />
        </button>
  
      </div>
    </header>