<!-- 
    - #FOOTER
  -->

  <footer class="footer">
      <div class="container">
  
        <ul class="social-list">
          
          <li>
            <a (click)="gotoLink('https://www.linkedin.com/in/ayanishkanudawala/')" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>     
          
          <li>
            <a (click)="gotoLink('https://github.com/ayanish95/')"  class="social-link">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>
  
          <!-- <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-xbox"></ion-icon>
            </a>
          </li> -->
  
        </ul>
  
      </div>
    </footer>